<!DOCTYPE html>
<html lang="en" ng-app="ReadMeter">
  <head>
    <meta charset="utf-8">
    <title>Have you done your READMEs?</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/readmeSearchController.js"></script>
    <script src="js/secrets.js"></script>
    <script src="js/repoSearchFactory.js"></script>
    <script src="js/readmeSearchFactory.js"></script>
  </head>

  <body ng-controller="ReadMeSearchController as searchCtrl">
    <input type="text" ng-model="searchCtrl.username">
    <a href="#" ng-click="searchCtrl.doSearch()">Search</a>
    <div ng-hide="searchCtrl.noReadMes.length == 0">
      Repos without READMEs
      <ul>
        <li ng-repeat="repo in searchCtrl.noReadMes">
          <a ng-href="https://github.com/{{searchCtrl.username}}/{{repo.name}}">{{repo.name}}</a>
        </li>
      </ul>
      Repos with READMEs
      <ul>
        <li ng-repeat="repo in searchCtrl.readMes">
          <a ng-href={{repo.url}}>{{repo.name}}</a>
          Size {{repo.size}}kb
        </li>
      </ul>
    </div>
  </body>
</html>
