$font-stack: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
Helvetica, Arial, 'Lucida Grande', sans-serif;
$green: #00b33c;
$orange: #ff9900;
$red: #ff0000;

body {
  font-family: $font-stack;
}

a {
  text-decoration: none;
}

.central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thin_italic {
  font-style: italic;
  font-weight: 100;
}

.title {
  @extend .thin_italic;
  font-size: 350%;
  display: block;
  margin: 0 auto 10px auto;
  width: 66%;
}

.results_title {
  @extend .thin_italic;
  float: left;
  padding: 20px;
  font-size: 250%;
}

input[type="text"] {
  @extend .thin_italic;
  border: none;
  border-bottom: solid 1px;
  font-size: 150%;
  text-align: center;
  width: 400px;
  padding: 5px;
}

input:focus {
  outline:none;
}

.result_text {
  font-weight: 200;
  font-size: 105%;
  text-align: justify;
}

.repo_container {
  font-size: 110%;
}

.repo_box {
  display: inline-block;
  padding: 10px;
}

.result_box {
  width: 35%;
  min-width: 350px;
}

.result_number {
  font-size: 120%;
}

.reload_button {
  margin: 20px auto;
  width: 20%;
  font-size: 120%;
  font-weight: 100;
}

.good_value {
  color: $green;
}

.ok_value {
  color: $orange;
}

.bad_value {
  color: $red;
}
