$font-stack: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
Helvetica, Arial, 'Lucida Grande', sans-serif;

body {
  font-family: $font-stack;
}

a {
  text-decoration: none;
}

.central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-style: italic;
  font-size: 350%;
  display: block;
  margin: 0 auto 10px auto;
  width: 66%;
  font-weight: 100;
}

input[type="text"] {
  border: none;
  border-bottom: solid 1px;
  font-size: 150%;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  width: 400px;
  padding: 5px;
}

input:focus {
  outline:none;
}

.repo_container {
  position: relative;
  margin-top: 75px;
  display: block;
  width: 70%;
}

.repo_box {
  display: block;
}

.result_box {
  width: 35%;
}

.result_number {
  font-size: 120%;
}
